.dropdown-toggle, .dropdown-item {
  cursor:pointer;
}

.profile-pic {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image round */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  margin-right: 8px; /* Space between the profile picture and text */
}
